*{
    margin: 0;
    border: 0;
}

body{
    width: 96%;
    height: 90%;
}
.base{
    
    /*background-color: #070824;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



.exemplos{
    background-color: grey;
    width: 99.5%;
    height: 80%;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;

}

.exemplos_tex{
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 5px;
    width: 200px;
    height: 70px;
    box-shadow: 5px 5px 0px black,
                -5px -5px 0px black;
    
}

.exemplos_tex > h2 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 0.9rem;
}

.exemplos_tex > p {
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    margin: 15px;
}

.exemplos_sim > .fas{
    margin: 10px;
}

.exemplos_nao > .fas{
    margin: 10px;
}

.exemplos_sim:hover{
    color: white;
    background-color: black;
}

.exemplos_nao:hover{
    color: white;
    background-color: black;
}




.exemplos_tex > img {
    width: 2px;
    
}


.exemplos_tex-b{
    background-color: white;
    padding: 15px;
    margin: 180px 5px 1px 5px;
    width: 300px;
    height: 280px;
    box-shadow: 5px 5px 0px black,
                -5px -5px 0px black;
}

.exemplo_ilus{
    margin: 0 auto;
}


.exemplo_ilus > img{
    margin: 5px 5px 5px 5px;
}

